@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: clip;
  background-image: linear-gradient(#234343, #152828);
  height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
* {
  font-family: "Open Sans", sans-serif;
}
section {
  @apply max-w-7xl mx-auto px-4 sm:px-6 sm:pb-0 lg:px-8;
}
